@import "./../mixins.scss";
@import "./../animations.scss";

.aboutme-row {
  height: 100vh;
}
.row-inner {
  @include d-flex();
  @include justify-content-center();
  @include align-items-center();

  height: inherit;
}

.speech-container {
  @include text-center();

  width: 50%;

  & .speech-text-wrapper,
  & .speech-title-wrapper {
    overflow: hidden;
  }

  & .speech-title {
    @include m-0();
    @include p-0();

    font-family: 'Quicksand Bold';
    font-size: 1.75em;
    letter-spacing: -.1125rem;
    line-height: 1;
    color: $md-black-1000;
  }
  & .speech-text {
    @include m-0();
    @include p-0();

    font-family: 'Roboto Light';
    font-size: 1.25em;
    line-height: 175%;
    letter-spacing: -.5px;
    color: $md-black-1000;
  }
}

.speech-text,
.speech-title {
  opacity: 0;
  transform: scale(.75);

  &.scroll-breaked {
    opacity: 1;
    transform: scale(1);
    transition: all .75s cubic-bezier(0.230, 1.000, 0.320, 1.000) .5s;
  }
}

// Smartphones
@media only screen and (max-width: 768px) {
  .speech-container {
    width: 100%;

    .speech-title {
      @include px-5();

      font-size: 1em !important;
    }
    .speech-text {
      @include px-4();

      font-size: .8em;
    }
  }
}


// Tablettes
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .aboutme-row {
    min-height: unset;
    height: 50vh;

    .row-inner {
      padding: 0 15%;
    }
  }
}
