@import "./../mixins.scss";
@import "./../animations.scss";

.aboutme-row {
  height: 100vh;
}
.row-inner {
  @include d-flex();
  @include justify-content-center();
  @include align-items-center();

  height: inherit;
}

.speech-container {
  @include text-center();

  width: 50%;

  & .speech-text-wrapper,
  & .speech-title-wrapper {
    overflow: hidden;
  }

  & .speech-title {
    @include m-0();
    @include p-0();

    font-family: 'Quicksand Bold';
    font-size: 1.75em;
    letter-spacing: -.1125rem;
    line-height: 1;
    color: $md-black-1000;
  }
  & .speech-text {
    @include m-0();
    @include p-0();

    font-family: 'Roboto Light';
    font-size: 1.25em;
    line-height: 175%;
    letter-spacing: -.5px;
    color: $md-black-1000;
  }
}
