@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.l-activity-item {
  @include d-inline-flex();
  @include flex-column();
  @include bg($md-white-1000);
  @include mb-3();

  cursor: pointer;
  width: calc(100% + 30px);
  margin: 0 -15px;
  padding: 15px;
  border-radius: 1px;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba($md-black-1000, .15);
  transition: box-shadow .1s ease-out 0s;

  &:hover {
    box-shadow: 0 1px 30px 0 rgba($md-black-1000, .15);
    transition: box-shadow .2s ease-out 0s;
  }

  .title,
  .type {
    @include m-0();
    @include p-0();
  }
  .title {
    font-family: 'Roboto Black';
    font-size: 16px;
    color: #222;
  }
  .type {
    @include font-italic();
    @include mt-1();

    font-size: 12px;
  }

  .header {
    @include d-flex();
    @include justify-content-between();
    @include align-items-start();
  }

  .techs {
    @include d-flex();
    @include justify-content-start();
    @include align-items-center();
    @include mt-2();

    .tech-item {
      @include d-inline-flex();
      @include bg($md-grey-200);
      @include mr-2();
      @include text-lowercase();

      font-family: 'Roboto Regular';
      font-size: 13px;
      border-radius: 3px;
      color: #666;

      & a {
        @include p-1();
      }
    }
  }

  .timing {
    @include d-inline-flex();

    .timing-item {
      @include d-inline-flex();
      @include flex-column();
      @include align-items-center();
      @include ml-3();

      position: relative;
      border-radius: 2px;
      overflow: hidden;

      .timing-item-date,
      .timing-item-month {
        @include bg($md-red-400);
        @include w-100();
        @include px-2();
        @include py-1();
        @include text-center();

        font-family: 'Quicksand Bold';
        font-size: 11px;
        line-height: 1;
        color: #FFF;
      }
      .timing-item-month {
        @include text-uppercase();
      }
      .timing-item-date {
        @include bg($md-grey-300);

        font-size: 16px;
        color: #222;
      }
    }
  }
}
