@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.adjacents-row {
  @include d-flex();
  @include flex-row();
  @include justify-content-between();
  @include w-100();
  @include my-5();
  @include pt-5();

  .adjacents-project-item {
    @include d-flex();

    width: 45%;
    overflow: hidden;
  }

  .adjacents-control {
    @include d-inline-flex();
    @include p-1();
    @include bg($md-white-1000);

    position: absolute;
    top: 50%;
    z-index: 1;
    font-family: 'Quicksand Bold';
    font-size: 24px;
    line-height: 1;

    &.adjacents-control-prev {
      left: 0;
      right: unset;
      transform: translate(-50%);
    }
    &.adjacents-control-next {
      right: 0;
      left: unset;
      transform: translate(50%);
    }
  }
}


// Smartphones
@media only screen and (max-width: 600px) {
  .adjacents-row {
    @include flex-column();
    @include pt-0();
    @include mb-0();

    .adjacents-control {
      top: unset;
      transform: translate(-50%, 0) !important;

      &.adjacents-control-prev {
        top: 0 !important;
        left: 50% !important;
        right: unset !important;
      }
      &.adjacents-control-next {
        bottom: 0 !important;
        left: 50% !important;
        right: unset !important;
      }
    }
    .adjacents-project-item {
      @include w-100();
      @include my-3();
    }
  }
}
