@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.article-headings {
  height: 20vh;

  .article-headings-inner {
    @include d-flex();
    @include flex-row();
    @include justify-content-between();
    @include align-self-center();
  }

  .article-headings-1 {
    width: 65%;
  }
  .article-headings-2 {
    @include d-flex();
    @include flex-column();
    @include justify-content-end();
    @include align-self-end();
    @include text-right();
  }

  .article-scope,
  .article-finishedAt,
  .article-title {
    @include m-0();
    @include p-0();

    line-height: 150%;
  }
  .article-title {
    font-family: 'Quicksand Bold';
    font-size: 32px;
  }
  .article-scope,
  .article-finishedAt {
    font-family: 'Quicksand Regular';
    font-size: 16px;
  }
}
.article-banner {
  @include w-100();

  height: calc(80vh - 100px);
  // position: relative;
  overflow: hidden;

  .article-media-wrapper,
  .article-media {
    @include d-flex();
    @include w-100();
    @include h-100();
  }
  .article-media-wrapper {
    position: relative;
  }
  .article-media {
    background-position: center;
    background-size: cover;
  }
  .read-on {
    @include px-4();
    @include py-3();
    @include bg($color-primary);

    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    font-family: 'Quicksand Bold';
    font-size: 20px;
    color: #000;
    border-radius: 3px;
  }

  &:after {
    @include w-100();
    @include h-100();
    @include bg(rgba(0, 0, 0, .75));

    // content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all .25s ease-out 0s;
  }
  &:hover:after {
    @include bg(rgba(0, 0, 0, .5));

    transition: all .25s ease-out 0s;
  }
}
