@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.blog-row {
  min-height: unset;
}
.row-inner {
  @include d-flex();
  @include flex-column();
  @include justify-content-center();
  @include align-items-center();

  position: relative;
  height: initial;
}

.blog-content {
  @include w-100();
  @include d-flex();
  @include flex-column();
  @include justify-content-center();
  @include align-items-center();

   &.fix-blog-header {
    .blog-header {
      left: 0;
      top: 0;
      z-index: 98;
      position: fixed;
    }
    .blog-articles-list {
      margin-top: 100px !important;
    }
  }
}

.blog-articles-list {
  @include d-inline-flex();
  @include flex-column();
  @include flex-wrap();
  @include py-5();

  position: relative,
}
.blog-articles-list:before {
  @include h-100();

  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  background-color: $md-grey-900;
  z-index: 1;
}

.blog-header {
  @include w-100();
  @include p-0();
  @include m-0();
  @include bg($md-grey-900);

  height: 100px;

  .blog-header-inner {
    @include d-flex();
    @include flex-row();
    @include justify-content-between();
    @include align-items-center();
    @include h-100();
    @include px-5();
    @include py-3();
  }
}

.blog-search-selectors {
  @include d-flex();
  @include flex-row();
  @include justify-content-center();
  @include align-items-center();
  @include h-100();

  .blog-search-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $md-grey-200;
    font-size: 28px;
  }

  .blog-search-year,
  .blog-search-month {
    @include d-flex();
    @include flex-column();
    @include justify-content-center();
    @include align-items-start();
    @include mr-5();
    @include h-100();

    .search-params-list-wrapper {
      height: 22px;
      overflow: hidden;

      .search-params-list {
        transition: all .25s cubic-bezier(0.165, 0.840, 0.440, 1.000) .1s;

        li {
          opacity: 0;
          transition: transform .35s cubic-bezier(0.165, 0.840, 0.440, 1.000) .1s;

          &.active-param {
            opacity: 1;
            transition: transform .35s cubic-bezier(0.165, 0.840, 0.440, 1.000) .1s;
          }
        }
      }
    }
  }
  .blog-search-content {
    @include m-0();
    @include text-lowercase();

    line-height: 1;
    font-family: 'Quicksand Bold';
    color: $md-grey-200;
  }
  .blog-search-label {
    @include text-lowercase();
    @include small-caps();

    line-height: 1;
    font-family: 'Roboto Bold';
    font-size: 14px;
    color: $md-grey-700;
  }
}
.blog-search-searchbar {
  @include h-100();
  @include p-2();

  width: 35%;

  .searchbar {
    @include h-100();
    @include w-100();
    @include d-flex();
    @include justify-content-center();
    @include align-items-center();

    position: relative;

    .searchbar-icon {
      @include text-center();

      position: absolute;
      width: 40px;
      left: 5px;
      color: $md-grey-700;
      transition: all .25s ease-out 0s;
    }
    .searchbar-input {
      @include w-100();
      @include m-0();
      @include px-3();
      @include pl-5();
      @include py-1();
      @include bg-transparent();

      height: 55px;
      box-sizing: border-box;
      border: 2px solid $md-grey-700;
      border-radius: 2px;
      font-family: 'Quicksand Bold';
      font-size: 16px;
      color: $md-grey-200;
      outline: none !important;
      transition: all .25s ease-out 0s;

      &:focus,
      &:hover {
        border-color: $color-primary;
        transition: all .25s ease-out 0s;

        &+.searchbar-icon {
          color: $color-primary;
          transition: all .25s ease-out 0s;
        }
      }
    }
  }

}

.brand-wrapper {
  @include d-none();
}


/* Under 1024 */
@media only screen and (max-width: 1024px) {
  .blog-content.fix-blog-header .brand-wrapper {
    @include d-flex();

    position: static;
  }
  .blog-header {
    position: relative;
    z-index: 99;
  }
  .blog-content {
    &.fix-blog-header {
      .blog-header {
        z-index: 99;
      }
    }
  }
}

/* Smartphones small width */
@media only screen and (max-width: 350px) {
  .blog-search-selectors {
    .blog-search-year {
      @include mr-3();
    }
    .blog-search-month {
      @include mr-2();
    }
  }
}
