@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.articles-by-year {
	@include mb-5();

	position: relative;

	.group-year {
		@include m-0();
		@include px-2();
		@include py-3();
		@include bg($color-primary);

		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		transform: translateX(-50%);
		font-family: 'Quicksand Bold';
		color: $md-grey-900;

		&:before,
		&:after {
			@include bg($md-grey-900);

			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 44.5%;
			height: 3px;
		}
		&:after {
			top: unset;
			bottom: 0;
		}
	}
}

.articles-by-month {
	@include pt-3();

	position: relative;
	margin: 80px 0 0 0;
	padding: 0 0 0 50px;

	.group-month {
		@include m-0();
		@include px-2();
		@include py-3();
		@include text-lowercase();
		@include bg($md-white-1000);

		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		transform: translateX(-50%);
		font-family: 'Quicksand Bold';
		color: $md-grey-900;

		&:before,
		&:after {
			@include bg($md-grey-900);

			content: '';
			position: absolute;
			left: 50%;
			top: 0;
			right: 0;
			height: 3px;
			width: 50%;
		}
		&:after {
			top: unset;
			bottom: 0;
			// left: unset;
			// right: calc(50% - 3px) !important;
		}
	}
}
