@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.blog-article-item {
  @include d-inline-flex();
  @include mb-4();
  @include mr-4();

  position: relative;
  height: 350px;
  border: 3px solid $md-grey-200;

  .blog-article--inner {
  	@include w-100();
  	@include h-100();
  	@include bg($md-grey-200);

    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    position: relative;

    a {
      @include d-flex();
      @include flex-column();
      @include justify-content-end();
      @include align-items-start();
      @include w-100();
      @include h-100();
      @include p-4();

      z-index: 1;
      position: relative;
    }

    .blog-article--title {
      @include m-0();
      @include p-0();

      font-family: 'Quicksand Bold';
      color: $md-grey-100;
      opacity: 0;
      transform: translate3d(0, 40%, 0);
      transition: all .15s ease-out 0s;
    }

    &:after {
      @include w-100();
      @include h-100();

      content: '';
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0);
      will-change: background-color;
      transition: all .2s ease-out 0s;
    }

    &:hover {
      .blog-article--title {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: all .2s ease-out 0s;
      }

      &:after {
        background-color: rgba(0, 0, 0, .45);
        transition: all .2s ease-out 0s;
      }
    }
  }
}
