@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.contact-row {
  min-height: 100vh;
}
.row-inner {
  @include d-flex();
  @include flex-column();
  @include justify-content-center();
  @include align-items-center();

  position: relative;
  height: inherit;
  width: 45%;
  margin: 0 auto;
}

.contact-content {
  @include w-100();
  @include d-flex();
  @include flex-column();
  @include justify-content-center();
  @include align-items-center();
  @include p-5();

  height: 100vh;

  &.bg-applied {
    @include bg($md-white-1000);

    border: 5px solid #333;
    border-top: 0;
    border-bottom: 0;
  }
}
.contact-header-text {
  @include m-0();
  @include p-0();
  @include text-lowercase();

  font-family: 'Quicksand Bold';
  font-size: 2em;
  letter-spacing: -1px;
  color: $md-black-1000;
}
.contact-subheader-text {
  @include m-0();
  @include p-0();
  @include font-italic();
  @include text-lowercase();

  font-family: 'Quicksand Regular';
  font-size: .75em;
  letter-spacing: -1px;
  color: $md-black-1000;
}
.contact-form-wrapper {
  @include d-flex();
  @include flex-column();
  @include w-100();
  @include p-3();
  @include m-0();
  @include my-5();

  .contact-form {
    @include d-flex();
    @include flex-column();
    @include w-100();
  }
}
.contact-form-group {
  @include d-flex();
  @include flex-column();
  @include align-items-center();
  @include my-1();
  @include px-2();
  @include py-1();

  position: relative;

  .contact-form-field {
    @include m-0();
    @include px-3();
    @include py-1();
    @include w-100();

    font-family: 'Quicksand Bold';
    font-size: 20px;
    color: $md-black-1000;
    min-height: 45px;
    border: 3px solid $md-black-1000;
    border-radius: 0;
    outline: none;
    opacity: .1;
    line-height: 135%;
    will-change: opacity, border;
    transition: all .25s ease-out 0s;

    &.dirty,
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      will-change: opacity, border;
      transition: all .25s ease-out 0s;
    }
  }
}
.contact-form-btn-wrapper {
  @include align-items-end();
}
.contact-social {
  @include d-flex();
  @include justify-content-center();
  @include align-items-center();

  position: absolute;
  left: 0;
  top: 10px;
  bottom: 0;
}

.contact-header-text {
  span {
    @include d-inline-flex();

    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  &.scroll-breaked span {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all .75s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s;
  }
}
.contact-form-wrapper,
.contact-subheader-text {
  opacity: 0;

  &.scroll-breaked {
    opacity: 1;
    transition: all .75s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s;
  }
}

.message-sent {
  @include m-0();
  @include p-0();
  @include w-100();
  @include text-center();
}

.contact-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


// Smartphones
@media only screen and (max-width: 600px) {
  .row-inner {
    @include w-100();
  }
  .contact-content {
    @include p-3();
  }
  .contact-header-text {
    @include text-center();

    font-size: 1.35em;
  }
  .contact-subheader-text {
    @include text-center();
  }
  .contact-form-wrapper {
    @include my-3();
    @include px-0();
  }
  .contact-social {
    @include w-100();

    position: relative;
    top: 25px;
  }
  .contact-form-btn-wrapper .btn {
    @include w-100();
  }
}


// Tablettes
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .row-inner {
    @include w-100();
  }
  .contact-row {
    min-height: unset;
  }
  .contact-content {
    @include p-3();

    height: unset;
  }
  .contact-header-text {
    @include text-center();

    font-size: 1.35em;
  }
  .contact-subheader-text {
    @include text-center();
  }
  .contact-form-wrapper {
    @include my-3();
    @include px-0();
  }
  .contact-social {
    // @include w-100();

    // position: relative;
    // top: 25px;
  }
  .contact-form-btn {
    @include w-100();
  }
}


// Tablettes Landscape
@media only screen and (width: 1024px) {
  .row-inner {
    width: 65%;
  }
}
