@import "./../mixins.scss";
@import "./../animations.scss";

.curstep-wrapper {
  @include m-0();
  @include anim-fade-in(.5s, 1.5s, cubic-bezier(0.230, 1.000, 0.320, 1.000));

  position: sticky;
  left: 0;
  top: 100px;
  height: 20px;
  width: 100vh;
  padding-top: 8px;
  opacity: 0;
  transform: rotate(-90deg) translate(-100%, 39px);
  transform-origin: left top 0;

  &.prevent-w-100 {
    width: calc(100vh - 100px - 20vh) !important;
  }

  &:before {
    @include bg($md-black-1000);

    content: '';
    position: absolute;
    left: -15px;
    right: 0;
    width: calc(100% + 15px);
    height: 5px;
  }
}

.curstep-inner {
  @include d-flex();
  @include justify-content-end();
  @include p-0();

  & > * {
    font-size: 10px;
    color: $md-black-1000;
  }

  .curstep-text {
    @include d-inline-block();
    @include bg($md-white-1000);
    @include m-0();
    @include pr-4();
    @include px-2();

    font-family: 'Roboto Bold';
    z-index: 2;
    transform: translate(-15px, -30%);
  }
}

// Smartphones
@media only screen and (max-width: 600px) {
  .curstep-wrapper {
    @include d-none();
  }
}
