@import "./../mixins.scss";
@import "./../animations.scss";

.curstep-wrapper {
  @include p-0();
  @include pt-4();
  @include anim-fade-in(.5s, 1.5s, cubic-bezier(0.230, 1.000, 0.320, 1.000));

  position: sticky;
  left: 8px;
  top: 100px;
  width: 100px;
  opacity: 0;
  transform: rotate(-90deg) translate(-100%, 0);
  transform-origin: left top 0;
}

.curstep-inner {
  @include d-flex();
  @include justify-content-end();
  @include py-2();

  & > * {
    font-size: 16px;
    color: $md-grey-900;
  }

  .curstep-text {
    @include m-0();
    @include p-0();

    font-family: 'Roboto Light';
  }
}
