@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.floating-header {
  .right-controls-wrapper,
  .brand-wrapper {
    @include d-flex();
    @include bg-transparent();
    @include justify-content-center();
    @include align-items-center();
    @include anim-fade-in(.5s, 1.5s, cubic-bezier(0.230, 1.000, 0.320, 1.000));

    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    height: 100px;
    opacity: 0;
    width: 100px;
  }
  .right-controls-wrapper {
    width: initial;
    left: unset;
    right: 0;

    .menu-toggler-wrapper,
    .visit-site-wrapper,
    .go-home-wrapper {
      @include d-flex();
      @include justify-content-center();
      @include align-items-center();
    }

    .visit-site-wrapper {
      position: relative;

      i {
        width: 24px;
        position: absolute;
        left: 0;
        border-radius: 50%;
        transform: translateX(-115%);
      }
    }

    a {
      @include d-inline-flex();
      @include justify-content-center();
      @include align-items-center();
      @include mr-4();
      @include text-lowercase();

      font-family: 'Quicksand Bold';
      font-size: 16px;
      color: #000;
      line-height: 1;
    }
    .menu-toggler {
      transform: scale(.75);
    }
  }
}

.floating-header.expanded {
  @include w-100();
  @include bg($color-primary);

  position: relative;
  left: 0;
  top: 0;
  height: 45vh;

  .expanded-content {
    @include d-flex();
    @include flex-column();
    @include justify-content-end();
    @include align-self-start();
    @include py-4();
    @include h-100();

    position: relative;
    z-index: 2;
    margin: 0 auto;

    .expanded-content-inner {
      width: 75%;
    }

    .content-header-title,
    .content-header-hints {
      @include m-0();
      @include p-0();

      line-height: 125%;
      color: inherit;
    }
    .content-header-title {
      @include text-lowercase();

      font-family: 'Quicksand Bold';
      font-size: 1.75em;
    }
    .content-header-hints {
      @include text-lowercase();
      @include my-2();
      @include d-inline-flex();
      @include flex-column();

      span {
        @include d-inline-flex();

        font-size: .9em;
        font-weight: 500;
        line-height: 165%;
      }
    }
  }

  .floating-header-backdrop {
    @include w-100();
    @include h-100();

    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}
.floating-header.big-size {
  @include bg-transparent();

  height: 60vh;
}
.floating-header.light-scheme {
  color: #FFF;
}
.floating-header.dark-scheme {
  color: #222;
}

.brand {
  @include d-inline-flex();
  @include justify-content-center();
  @include align-items-center();
  @include p-0();
  @include bg($md-white-1000);

  width: 50px;
  height: 50px;
  border-radius: 50%;

  & i {
    @include h2();

    transform: scale(.75);
    color: $md-grey-900;
  }
}
.brand .img-wrapper {
  @include d-inline-flex();
  @include justify-content-center();
  @include align-items-center();
}

.menu-toggler {
  @include d-inline-flex();
  @include flex-column();

  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;

  & span {
    @include bg($md-grey-900);
    @include d-inline-flex();

    position: absolute;
    height: 3px;
    width: 83%;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .15s ease-out 0s;
  }
  & span:nth-child(1) {
    width: 50%;
    left: 3px;
    top: 18px;
  }
  & span:nth-child(2) {
  }
  & span:nth-child(3) {
    width: 45%;
    bottom: 17px;
    left: 24px;
  }

  &.menu-opened {
    & span {
      width: 60%;
      transition: all .25s ease-out 0s;
    }
    & span:nth-child(1) {
      top: 24px;
      left: 10px;
      transform: rotate(45deg);
    }
    & span:nth-child(2) {
      opacity: 0;
    }
    & span:nth-child(3) {
      top: 24px;
      left: 10px;
    }
  }
}


/* Smartphones */
@media only screen and (max-width: 600px) {
  .floating-header.expanded {
    height: 60vh;
  }
  .expanded-content-inner {
    @include w-100();
  }
  .content-header-title {
    @include flex-column();

    font-size: 1.25em !important;
  }
  .visit-site-wrapper {
    a {
      span {
        @include d-none();
      }
    }
  }
}
/* Small heigh smartphones */
@media only screen and (max-device-height: 700px) {
  .floating-header.expanded {
    height: 70vh;
  }
  .expanded-content {
    .content-header-title {
      font-size: 1.45em !important;
    }
    .content-header-hints {
      font-size: .6em !important;
    }
  }
}
