@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.floating-header {
  .go-home-wrapper,
  .menu-toggler-wrapper,
  .brand-wrapper {
    @include d-flex();
    @include bg-transparent();
    @include justify-content-center();
    @include align-items-center();
    @include anim-fade-in(.5s, 1.5s, cubic-bezier(0.230, 1.000, 0.320, 1.000));

    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    height: 100px;
    opacity: 0;
    width: 100px;

    & a {
      transform: scale(.75);
      color: #000;
    }
  }
  .go-home-wrapper,
  .menu-toggler-wrapper {
    left: unset;
    right: 0;
  }
}

.floating-header.expanded {
  @include w-100();
  @include bg($color-primary);

  position: relative;
  left: 0;
  top: 0;
  height: 45vh;

  .expanded-content {
    @include d-flex();
    @include flex-column();
    @include justify-content-end();
    @include align-self-start();
    @include py-3();
    @include h-100();

    position: relative;
    z-index: 2;
    width: 75%;
    margin: 0 auto;

    .expanded-content-inner {
      width: 75%;
    }

    .content-header-title,
    .content-header-hints {
      @include m-0();
      @include p-0();

      line-height: 125%;
    }
    .content-header-title {
      @include text-lowercase();

      font-family: 'Quicksand Bold';
      font-size: 1.75em;
    }
    .content-header-hints {
      @include text-lowercase();
      @include my-2();
      @include d-inline-flex();
      @include flex-column();

      span {
        @include d-inline-flex();

        font-size: .9em;
        line-height: 165%;
        color: #222;
      }
    }
  }
}
.floating-header {
  &.big-size {
    @include bg-transparent();

    height: 75vh;
  }
}

.brand {
  @include d-inline-flex();
  @include p-2();
  @include bg($md-white-1000);

  border-radius: 50%;

  & i {
    color: $md-grey-900;
    @include h1();
  }
}
.brand .img-wrapper {
  @include d-inline-flex();
  @include justify-content-center();
  @include align-items-center();
}

.menu-toggler {
  @include d-inline-flex();
  @include flex-column();

  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;

  & span {
    @include bg($md-grey-900);
    @include d-inline-flex();

    position: relative;
    height: 3px;
    width: 80%;
    border-radius: 2px;
    transform: rotate(-45deg) translate(-10px, 15px);
    transition: all .15s ease-out 0s;
  }
  & span:nth-child(1) {
    width: 50%;
  }
  & span:nth-child(2) {
    top: 3px;
  }
  & span:nth-child(3) {
    width: 45%;
    top: 3px;
    left: 20px;
  }

  &:hover:not(.menu-opened) {
    & span {
      transition: all .15s ease-out 0s;
    }
    & span:nth-child(1) {
      width: 50%;
      top: 2px;
    }
    & span:nth-child(2) {
      top: 3px;
      width: 75%;
    }
    & span:nth-child(3) {
      width: 45%;
      top: -2px;
      left: 20px;
    }
  }

  &.menu-opened {
    & span {
      transition: all .25s ease-out 0s;
    }
    & span:nth-child(1) {
      width: 50%;
      transform: rotate(45deg) translate(25px,10px);
    }
    & span:nth-child(2) {
      top: 3px;
      width: 60%;
      opacity: 0;
    }
    & span:nth-child(3) {
      width: 50%;
      top: 2px;
      left: 6px;
    }
  }
}

.go-home-wrapper {
  @include mr-3();

  width: unset !important;

  a {
    @include text-lowercase();

    font-family: 'Quicksand Bold';
    line-height: 1;
  }
}


/* Smartphones */
@media only screen and (max-width: 600px) {
  .floating-header.expanded {
    height: 60vh;
  }
  .expanded-content {
    width: 90% !important;
  }
}
/* Small heigh smartphones */
@media only screen and (max-device-height: 700px) {
  .floating-header.expanded {
    height: 70vh;
  }
  .expanded-content {
    .content-header-title {
      font-size: 1.45em !important;
    }
    .content-header-hints {
      font-size: .6em !important;
    }
  }
}

/* Tablettes Portrait */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .expanded-content {
    width: 90% !important;
  }
}

/* Tablettes Landscape */
@media only screen and (width: 1024px) {
  .expanded-content {
    width: 85% !important;
  }
}
