@import "./../mixins.scss";
@import "./../animations.scss";

.landing-row {
  height: 100vh;
}
.row-inner {
  @include d-flex();
  @include flex-column();
  @include justify-content-center();
  @include align-items-center();


  height: inherit;
  top: -57px;
  position: relative;
}

.landing-header-text-wrapper {
  @include d-flex();
  @include justify-content-center();
  @include align-items-center();

  height: initial;
  // overflow: hidden;
}
.landing-header-text {
  @include m-0();
  @include p-0();
  @include px-2();
  @include d-inline-flex();
  @include text-lowercase();

  font-family: 'Quicksand Bold';
  font-size: 5.75em;
  line-height: normal;
  color: $md-grey-900;
  letter-spacing: -.09em;
}
.masked-text h1 {
  background-image: url('/img/landing-mask.jpg');
  background-size: 110%;
  background-attachment: fixed;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.landing-header-text {
  opacity: 0;
  transform: scale(.85);

  &.scroll-breaked {
    opacity: 1;
    transform: scale(1);
    transition: 
      transform .75s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s,
      opacity .75s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s;
  }
}

.what-is-it-wrapper {
  @include py-5();

  position: absolute;
  bottom: 0;
  font-family: 'Roboto Regular';
  font-size: initial;
  color: #333;

  .what-is-it--text {
    @include m-0();
    @include p-0();

    opacity: 0;

    &.scroll-breaked {
      opacity: 1;
      transition: opacity .75s ease-out 0s;
    }
  }
}

// Smartphones
@media only screen and (max-width: 600px) {
  .row-inner {
    top: 0;
  }
  .landing-header-text {
    @include d-flex();

    font-size: 3em;
  }
}

// Tablettes
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .row-inner {
    top: 0;
  }
  .landing-header-text {
    @include d-flex();

    font-size: 6.5em;
  }
}
