@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.latest-activities-wrapper {
  @include m-0();
  @include p-0();

  max-height: 100%;
  overflow: auto;
  width: calc(100% + 15px);
  padding-right: 0 !important;

  .latest-activities-wrapper--title {
    @include m-0();
    @include p-0();
    @include mb-3();

    font-family: 'Quicksand Bold';
    font-size: 14px;
    padding: 0 30px !important;
  }
  .latest-activities-wrapper--close {
    @include d-none();
  }

  .latest-activities {
    padding: 0 30px !important;
  }
}

.l-activity-group {
  margin: 0;
  margin-bottom: 30px;

  &:last-child {
    @include pb-5();
  }

  .l-activity-group--header {
    @include d-inline-flex();

    font-family: 'Quicksand Bold';
    font-size: 14px;
    color: #333;
  }

  .l-activity-group--entries {
    @include mt-1();
    @include mr-3();
  }
}

// Smartphones
@media only screen and (max-width: 768px) {
  .latest-activities-wrapper {
    padding-right: 15px !important;

    .latest-activities-wrapper--title:not(.latest-activities-wrapper--close) {
      @include d-none();
    }
    .latest-activities-wrapper--close {
      @include d-inline-flex();
      @include h6();
      @include mb-3();

      color: #000;
    }
  }
}


// Tablettes Landscape
@media only screen and (width: 1024px) {
  .latest-activities-wrapper {
    padding-right: 15px !important;
  }
}
