@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.brand-wrapper {
  @include d-flex();
  @include bg-transparent();
  @include justify-content-center();
  @include align-items-center();
  @include anim-fade-in(.5s, 1.5s, cubic-bezier(0.230, 1.000, 0.320, 1.000));

  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  height: 100px;
  opacity: 0;
  width: 100px;

  .brand {
    @include d-inline-flex();
    @include justify-content-center();
    @include align-items-center();
    @include p-0();
    @include bg($md-white-1000);
    width: 50px;
    height: 50px;
    // border-radius: 2px;
    & i {
      @include h2();
      transform: scale(.75);
      color: $md-grey-900;
    }
  }

  .brand .img-wrapper {
    @include d-inline-flex();
    @include justify-content-center();
    @include align-items-center();
  }
}
