@import "./../mixins.scss";
@import "./../animations.scss";

.nextstep-wrapper {
  @include p-5();

  display: inline-flex;
  width: initial;
  position: sticky;
  right: 0;
  bottom: 0;
  left: 99em;
}

.nextstep-inner {
  @include d-flex();
  @include justify-content-center();
  @include align-items-center();

  cursor: pointer;
  opacity: 0;

  & > * {
    color: $md-grey-900;
  }

  .nextstep-text {
    @include m-0();
    @include mr-2();
    @include p-0();
    @include font-italic();

    font-family: 'Roboto Light';
    font-size: 18px;
  }

  .nextstep-icon {
    font-size: 22px;
  }

  &.animated {
    @include anim-fade-in(.5s, 1s, cubic-bezier(0.230, 1.000, 0.320, 1.000));
  }
}
