@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.details-item {
  @include d-flex();
  @include flex-row();
  @include w-100();
  @include my-3();
  @include p-0();

  font-family: 'Quicksand Regular';
  font-size: 15px;

  .details-item--title {
    font-family: 'Quicksand Bold';
    flex-basis: 20%;
  }
  .details-item--content {
    @include text-left();

    flex: 1;
  }
}


// Smartphones
@media only screen and (max-width: 600px) {
  .details-item {
    .details-item--title {
      flex-basis: 30%;
    }
  }
}
