@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.projects-row {
}
.row-inner {
  @include d-flex();
  @include flex-column();
  @include justify-content-center();
  @include align-items-center();

  height: inherit;
  width: 100%;
}
.projects-list {
  @include d-flex();
  @include flex-column();
  @include flex-wrap();
  @include pt-5();

  width: 75%;
  max-height: unset;
  height: ((($rows-height + $rows-margin-bottom) * 6) / 2) + $rows-height / 2;
}

.projects-more {
  @include mx-0();
  @include mb-5();
  @include px-0();
  @include py-3();
  @include pb-5();
  @include d-flex();
  @include justify-content-center();
  @include align-items-center();
}

// Smartphones
@media only screen and (max-width: 768px) {
  .projects-row {
    @include py-3();
  }
  .row-inner {
    height: unset;
  }
  .projects-list {
    @include flex-row();
    @include pt-0();

    width: 90%;
    height: initial;
  }
}


// Tablettes Landscape
@media only screen and (width: 1024px) {
  .projects-list {
    width: 85%;
  }
}
