@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.project-item {
  @include d-inline-flex();
  @include justify-content-center();
  @include align-items-center();
  @include p-0();
  @include bg($md-grey-100);

  position: relative;
  width: 47.15%;
  height: $rows-height;
  margin: 0 $rows-margin-right $rows-margin-bottom 0;
  box-shadow: 0 0 0 0 rgba($md-grey-500, .15);
  will-change: box-shadow;
  visibility: hidden;
  opacity: 0;
  transform: scale3d(.8, .8, 1);
  transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s;

  &.project-item-mini,
  &.reveal {
    visibility: visible;
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s;

    & .project-item--image {
      visibility: visible !important;
      opacity: 1 !important;
      transform: scale3d(1, 1, 1) !important;
      transition: all .35s ease-out 0s;
    }
  }

  &:nth-child(4) {
    margin-top: 150px !important;
  }
  
  &:hover:not(:active) {
    box-shadow: 0 20px 50px 0 rgba($md-grey-500, .25);
    transition: all .2s ease-out 0s;

    & .project-item-inner {
      visibility: visible;
      opacity: .975;
      transform: scale3d(1, 1, 1);
      transition: all .35s ease-out 0s;
    }

    & .img-fluid {
    }

    & .project-item-name {
      transform: translate3d(5px, 12px, 0);
      opacity: 1;
      transition: all .2s ease-out .025s;
    }
  }

  & a {
    @include d-flex();
    @include w-100();
    @include h-100();
  }

  & .img-wrapper {
    @include d-inline-flex();
    @include justify-content-center();
    @include align-items-center();
    @include w-100();
    @include h-100();

    overflow: hidden;

    & .project-item--image {
      @include h-100();
      @include w-100();

      background-size: cover;
      background-position: center;
      visibility: hidden;
      opacity: 0;
      transform: scale3d(1.2, 1.2, 1.2);
      transition: all .35s ease-out 0s;
    }

    & .img-fluid {
      @include h-100();
    }
  }

  & .project-item-inner {
    @include m-3();
    @include p-5();
    @include bg($md-white-1000);

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transform: scale3d(.95, .95, 1);
    will-change: visibility, opacity, transform;
    transition: all .15s ease-out 0s;
  }

  &:last-child {
    @include mb-0();
  }

  &.project-item-mini {
    @include m-0();
    @include w-100();
    @include bg-transparent();

    height: 300px;

    & .project-item-desc,
    & .project-item-techs {
      @include d-none();
    }
    & .project-item-footer {
      @include d-inline-flex();
      @include align-items-center();
      @include justify-content-center();
      @include h-100();
      @include w-100();
      @include p-0();

      position: static;
    }
    & .project-item-inner {
      @include p-0();
      @include m-0();
      @include bg-transparent();
    }
    & .project-item-name {
      font-size: 2.5em;
    }
    & .project-item--image {
      @include w-100();
      @include h-100();

      background-size: cover;
      background-position: center;
    }
  }
}
.project-item-desc {
  @include m-0();

  font-family: 'Roboto Light';
  font-size: 16px;
  line-height: 228%;
  color: $md-grey-600;
}
.project-item-footer {
  @include pl-0();
  @include pr-5();

  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: initial;

  .project-item-techs {
    @include pl-5();
    @include m-0();
    @include text-uppercase();

    position: relative;
    top: 15px;
    text-align: right;
    font-family: 'Roboto Light';
    font-size: 12px;
    line-height: 200%;
    color: $md-grey-500;
  }
  .project-item-name {
    @include m-0();
    @include p-0();
    @include text-lowercase();

    font-family: 'Roboto Black';
    letter-spacing: -5px;
    font-size: 3.3em;
    line-height: 90%;
    color: $md-grey-800;
    transform: translate3d(5px, 50px, 0);
    opacity: 0;
    will-change: transform, opacity;
    transition: all .2s ease-out 0s;
  }
}

// Smartphones
@media only screen and (max-width: 768px) {
  .project-item {
    @include w-100();
    @include mr-0();
    @include mt-0();
    
    height: 90vh;
    margin-bottom: 80px !important;

    a {
      @include flex-column();
    }

    .project-item-desc {
      font-size: 14px;
      line-height: 150%;
      color: #222;
    }
    .project-item-footer {
      @include p-0();

      position: static;
    }
    .project-item-techs {
      @include p-0();
    }
    .project-item-name {
      @include d-inline-flex();

      letter-spacing: -3.5px;
      opacity: 1;
      transform: none;
      font-size: 2em;
      margin-top: 18px !important;
    }
    .project-item-inner {
      @include m-0();
      @include p-3();

      position: static;
      opacity: 1;
      visibility: visible;
      transform: none;
      overflow: unset;
    }

    &.project-item-mini {
      .project-item-inner {
        position: absolute;
      }
      .project-item-name {
        font-size: 1.75em;
      }
    }
  }
}

// Tablettes Portrait
@media only screen and (width: 1024px) {
  .project-item {
    &.project-item-mini {
      & .project-item-desc,
      & .project-item-techs {
        @include d-none();
      }
      & .project-item-footer {
        @include d-inline-flex();
        @include align-items-center();
        @include justify-content-center();
        @include h-100();
        @include w-100();
        @include p-0();

        position: static;
      }
      & .project-item-inner {
        @include p-0();
        @include m-0();
        @include bg-transparent();

        position: absolute;
        opacity: 1;
      }
      & .project-item-name {
        font-size: 1.75em;
        opacity: 1;
        visibility: visible;
        transform: none;
      }
    }
  }
}
