@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.skills-row {
  height: 100vh;
}
.row-inner {
  @include d-flex();
  @include flex-column();
  @include justify-content-center();
  @include align-items-center();

  position: relative;
  height: inherit;
  width: 100%;
}

.skills-content {
  @include text-center();

  width: 50%;

  .skills-header-text {
    @include m-0();
    @include p-0();
    @include text-lowercase();

    font-family: 'Quicksand Bold';
    font-size: 2em;
    letter-spacing: -1px;
    color: $md-black-1000;
    overflow: hidden;
  }

  .skills-speech {
    @include m-0();
    @include mt-4();
    @include p-0();

    font-family: 'Roboto Light';
    font-size: 1.25em;
    color: $md-black-1000;
    line-height: 200%;
    letter-spacing: -.5px;

    a {
      font-family: 'Roboto Regular';
      color: inherit;
    }
  }
}


.skills-header-text {
  span {
    @include d-inline-flex();

    opacity: 0;
    transform: translate3d(0, 100%);
  }

  &.scroll-breaked span {
    opacity: 1;
    transform: translate3d(0, 0);
    transition: all .75s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s;
  }
}
.skills-speech {
  opacity: 0;
  transform: scale(.85);

  &.scroll-breaked {
    opacity: 1;
    transform: scale(1);
    transition: all .75s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s;
  }
}

// Smartphones
@media only screen and (max-width: 600px) {
  .skills-row,
  .row-inner {
    height: 100vh;
  }
  .skills-content {
    @include w-100();
    
    .skills-header-text {
      @include px-5();

      font-size: 1em !important;
    }
    .skills-speech {
      @include px-4();

      font-size: .8em;
    }
  }
}

// Tablettes
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .skills-row,
  .row-inner {
    height: unset;
    min-height: unset;
  }
  .skills-content {
    @include w-100();
    
    .skills-header-text {
      @include px-5();

      font-size: 1em !important;
    }
    .skills-speech {
      @include px-4();

      font-size: .8em;
    }
  }
}


// Tablettes Landscape
@media only screen and (width: 1024px) {
  .skills-content {
    width: 75%;
  }
}
