@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.skills-row {
  @include py-2();

  height: 100vh;
}
.row-inner {
  @include d-flex();
  @include flex-column();
  @include justify-content-center();
  @include align-items-center();

  position: relative;
  height: inherit;
  width: 100%;
}

.skills-content {
  @include text-center();

  width: 50%;

  .skills-header-text {
    @include m-0();
    @include p-0();
    @include text-lowercase();

    font-family: 'Quicksand Bold';
    font-size: 2em;
    letter-spacing: -1px;
    color: $md-black-1000;
  }

  .skills-speech {
    @include m-0();
    @include mt-4();
    @include p-0();

    font-family: 'Roboto Light';
    font-size: 1.25em;
    color: $md-black-1000;
    line-height: 200%;
    letter-spacing: -.5px;

    a {
      font-family: 'Roboto Regular';
      color: inherit;
    }
  }
}
