@import "./../mixins.scss";
@import "./../animations.scss";
@import "./../variables.scss";

.social-links {
  @include d-flex();
  @include flex-row();

  .social-link-wrapper {
    @include d-inline-flex();
    @include align-items-center();
    @include justify-content-center();
    @include mx-2();
    @include p-2();

    .social-link {
      @include d-inline-flex();
      @include w-100();
      @include h-100();

      .social-link-media {
        width: 25px;
        height: 25px;
      }
    }
  }
}
.social-links.size-small {
  .social-link-media {
    width: 18px !important;
    height: 18px !important;
  }
}

// Smartphones
@media only screen and (max-width: 600px) {
  .social-links {
    @include justify-content-center();
    @include w-100();

    .dashed-text:after {
      transform: none;
    }
  }
}

// Tablettes
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .social-links {
    // @include justify-content-center();
    // @include w-100();

    .dashed-text:after {
      transform: none;
    }
  }
}
