@mixin reveal-title($children) {
  @for $i from 1 to $children {
    span:nth-child(#{$i + 1}) {
      opacity: 1;
      transform: scale3d(1, 1, 1) translate3d(0, 0, 0);

      @if $i == 1 {
        transition: all .35s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s;
      } @else {
        transition: all .65s cubic-bezier(0.230, 1.000, 0.320, 1.000) #{$i * .1}s;
      }
    }
  }
}
